/* Color palette: https://www.colourlovers.com/palette/4652924/Moonshadow */

/* Basic styling for entire page */
body {
  margin: 0;
  padding: 0;
  background-color: #f1fadb;
  font-family: 'Josefin Sans', sans-serif;
}

header,
main {
  display: block;
  width: 80%;
  margin: 0 auto;
  clear: both;
}

/* header styling */
header {
  background-color: #8f9b9b;
  color: #000026;
  font-family: 'Amatic SC', cursive;
  border: 1px solid #000026;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 10px auto;
}

/* top navigation */
nav {
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  text-align: left;
}

nav > ul {
  margin: 5px;
  padding: 0;
  text-decoration: none;
}

nav li {
  display: inline-block;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #000026;
}

nav li:hover {
  border-bottom: 1px solid #000026;
}

form {
  padding: 0.875em 1.875em 1.875em;
  margin: 20px auto;
}

input,
textarea {
  font-size: 1.1em;
  width: 50%;
  background-color: #dae2c6;
  border: none;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 50px;
  border: 2px solid #000026;
}

.row {
  width: 100%;
  display: block;
  clear: both;
}

.col-3,
.col-7 {
  display: inline-block;
  vertical-align: top;
}

.col-3 {
  width: 28%;
}

.col-7 {
  width: 68%;
}

a {
  color: #f1fadb;
}

#students {
  background-color: #9c786c;
  padding: 50px 0px;
  border: 1px solid #000026;
}

#students h1 {
  text-align: center;
}

#side {
  text-align: center;
}
